:root{
    --cor-principal: #3f1e1ef5 ;
    --cor-secundaria: #2e3db2; 
    --cor-destaque: #d3aa7f;
    --cor-texto: #ffcfcf;

}

body {
    background-image: url(imagem-fundo.png);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 100%;
    max-width: 900px;
    text-align: center;
    padding: 100px;
}


h1{
    color: var(--cor-destaque);
}